
/* FONTS ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* GENERAL --------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY --------------------------------------------------------- */

.landingPage {
  background: rgb(0,73,191);
  background: linear-gradient(90deg, rgba(0,73,191,1) 0%, rgba(190,190,255,1) 46%, rgba(0,212,255,1) 100%);

  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
}



/* LOGIN / SIGNUP ---------------------------------------------------------> */

.h1title {
  font-weight: bold;
}

.whiteSide {
  margin-bottom: 15px;
}

.welcomeMessage {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container-mainforms {
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 780px;
  max-width: 100%;
  min-height: 500px;
}

.form-container form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signup-container{
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.login-container{
  left: 0;
  width: 50%;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out
}

.overlay {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b,#ff416c) no-repeat 0 0 / cover;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out
}

/* Positioning absolute relative to the overlay position relative */
.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.overlay-right {
  right: 0; 
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

/* animation*/

/* movesignin to the right*/
.container-mainforms.right-panel-active .login-container {
  transform: translateX(100%);
}

/* move overlay to the left*/
.container-mainforms.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring sign up over sign in form*/
.container-mainforms.right-panel-active .signup-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to the right*/
.container-mainforms.right-panel-active .overlay {
  transform: translateX(50%);
}

.container-mainforms.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container-mainforms.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* DRAGGABLES AND CARDS----------------------------------------------------> */
.App {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.App .column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  /* height: 50px; */
  background-color: gray;
  padding: 10px 10px 0 10px;
  border-right: 7px;
  display: flex;
  flex-direction: column;
}

/* Only apply margin bottom to draggables*/
.item {
  margin-bottom: 10px; 
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
  background-color: black;

}

.item.dragging {
  background-color: coral
}



