

/* FONTS ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* GENERAL --------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV BAR---------------------------------------------------------> */
.navbarContainer {
  /* background-color: #ff4b2b; */
  border-bottom: solid black;
  /* background: rgb(0,73,191); */
  background: linear-gradient(90deg, rgba(255, 75, 43,1) 20%, rgba(43, 117, 255	
  ,1) 100%);
}

.linkContainer {
  margin-left: 55%;
}

li { 
  display: table-cell; 
  padding: 30px 0;
}

.btnstyle {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  border: none;
  opacity: .6;
  font-weight: bold;

}

.btnstyle:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btnstyle:hover:after { 
  width: 100%; 
  left: 0; 
}
/* LOGIN / SIGNUP ---------------------------------------------------------> */
.bodyContainer {
  min-height: 100%;
}

.ladingpagecontainer {
  /* background: rgb(0,73,191);
  background: linear-gradient(90deg, rgba(0,73,191,1) 0%, rgba(190,190,255,1) 46%, rgba(0,212,255,1) 100%);
  color: var(--text-color); */
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.h1title {
  font-weight: bold;
}

.whiteSide {
  margin-bottom: 15px;
}

.welcomeMessage {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container-mainforms {
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 760px;
  max-width: 100%;
  min-height: 480px;
}

.form-container form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
}

.landingPageButton {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signup-container{
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.login-container{
  left: 0;
  width: 50%;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out
}

.overlay {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b,#ff416c) no-repeat 0 0 / cover;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out
}

/* Positioning absolute relative to the overlay position relative */
.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.overlay-right {
  right: 0; 
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

/* animation*/

/* movesignin to the right*/
.container-mainforms.right-panel-active .login-container {
  transform: translateX(100%);
}

/* move overlay to the left*/
.container-mainforms.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring sign up over sign in form*/
.container-mainforms.right-panel-active .signup-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to the right*/
.container-mainforms.right-panel-active .overlay {
  transform: translateX(50%);
}

.container-mainforms.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container-mainforms.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.icon {
  border: none;
  color: maroon;
  background-color: white;
  size: 50%;
  width: 100%;
  margin-bottom: 5px;
}

/* COLUMN DRAG AND DROP
----------------------------------------------------> */
.column-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 8px;
}

/*SIZING OF THE SCROLLBAR*/
.dayScroll::-webkit-scrollbar {
  height: 10px;
}

/*TRACKING AREA*/
.dayScroll::-webkit-scrollbar-track {
  background: #00000026;
  opacity:.05;
  border-radius: 20px; 
}

.dayScroll::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 20px;
}

/*THIS STYLES THE THING THAT*/
.dayScroll::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
  opacity: .1;
  border-radius: 20px; 
}  


.columnDays {
  margin: 8px;
  display: flex;
  width: 100%;
  height: 600px;
  /* min-height: 80vh; */
}

.columnTitle {
  color: #10957d;
  background: rgba(16, 149, 125, 0.15);
  padding: 2px 10px;
  border-radius: 5px;
  align-self: flex-start;
}

.taskListWrapper {
  display: flex;
}

.taskList {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  margin-right: 45px;
  width: 282px;
  background: #f3f3f3;
  border-radius: 5px;
  padding: 15px 15px;
  margin: 0 4px;
  display: flex;
  margin: 0 4px;
  min-height: 20px;

  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* height: 50%; */
  /* min-height: 100px; */ 
}

.taskList::-webkit-scrollbar {
  height: 1px;
  width: 7px;
}

.taskList::-webkit-scrollbar-track {
  background: #DEDEDE;
  opacity:.05;
  border-radius: 20px; 
}

.taskList::-webkit-scrollbar-button {
  display: block;
  height: 15px;
  /* width: 1px; */
}

/*THIS STYLES THE THING THAT*/
.taskList::-webkit-scrollbar-thumb {
  background-color: #ABABAB;
  opacity: .1;
  border-radius: 20px; 
}  


.addRecipe {
  border-radius: 3px;
  box-shadow: none;
  border: none;
  overflow-wrap: break-word;
  max-width: 290px;
  max-height: 100px;
  justify-content: center;
}

input.addRecipe {
  width: 90%;
  height: 35px;
  margin-top: 10px;
  padding-right: 50px;
}

.addIcon {
  border: none;
  background-color: #f3f3f3;
  color: red;
  padding-left: 4px;
}

/* RECIPECARD DETAILS ----------------------------------------------------> */
.taskInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  min-height: 106px;
  border-radius: 5px;
  max-width: 311px;
  /* background: ${({ isDragging }) =>
    isDragging ? 'rgba(255, 59, 59, 0.15)' : 'white'}; */
  background: white;
  margin-top: 15px;
}

.secondary-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 12px;
  font-weight: 400px;
  color: #7d7d7d;
} 

.Breakfast {
  background-color: lime;
}

.Lunch {
  background-color: yellow;
} 

.Dinner {
  background-color: coral;
} 

.Snack {
  background-color: rgb(108, 108, 172);
}

.addRecipe {

}

/* MODAL */
.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
  height: 700px;
  max-height: 100%;
  /* animation: pop-swirl 0.5s; */
  background-color: white;
}

/* .modalContent.scroll {
  padding: 4px;
  width: 700px;
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
} */

.modal-background-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: gray;
}


/* MODAL GRID */

.grid-item1 {
  grid-area: header;
}

.grid-item2 {
  grid-area: ingredients;
  border: 1px solid black;
}

.grid-item3 {
  grid-area: instructions;
  border: 1px solid black;
}

.grid-item4 {
  grid-area: comments;
  border: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
      "header header"
      "ingredients instructions"
      "ingredients instructions"
      "comments comments";

}

.grid-container p {
  text-align: center;
}

/* CAN PROBBALY DELETE THIS*/
/* text areq card*/
/* input, textarea {
  background-color: transparent;
  border: 0;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid #161822;
} */

input:hover {
  /* background-color: #161822; */
  cursor: pointer;
}

textarea {
  margin-top: 24px;
  resize: none;
  overflow: hidden;
  min-height: 14px;
  max-height: 800px;
  font-size: 14px;
}

/*probably dont need code b*/

/* FOOTER
----------------------------------------------------> */

footer {
  background: linear-gradient(90deg, rgba(255, 75, 43,1) 20%, rgba(43, 117, 255	
  ,1) 100%);
  background-position: bottom;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5rem;
  font-size: 14px;
  color: white;
  letter-spacing: 0.2px;
}

.footerIcon {
  color: #ffb52b;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* RECIPE FORM CONTAINER
----------------------------------------------------> */
.recipeFormContainer {
  margin-top: 50px;
}