/* FONTS ---------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway:wght@300;600&family=Yantramanav:wght@300;400;600&display=swap');

/* GENERAL --------------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV BAR---------------------------------------------------------> */
.navbarContainer {
  /* background-color: #ff4b2b; */
  border-bottom: solid black;
  /* background: rgb(0,73,191); */
  background: linear-gradient(90deg, rgba(255, 75, 43,1) 20%, rgb(249, 251, 253) 100%);
}

.linkContainer {
  margin-left: 80%;
  margin-bottom: 8px;
}

ul {
  padding-top: 10px;
}

li { 
  display: table-cell; 
  padding: 5px 0;
}

.btnstyle {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  border: none;
  opacity: .6;
  font-weight: bold;
}

.btnstyle:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btnstyle:hover:after { 
  width: 100%; 
  left: 0; 
}
/* LOGIN / SIGNUP ---------------------------------------------------------> */
.bodyContainer {
  min-height: 100%;
}

.ladingpagecontainer {
  /* background: rgb(0,73,191);
  background: linear-gradient(90deg, rgba(0,73,191,1) 0%, rgba(190,190,255,1) 46%, rgba(0,212,255,1) 100%);
  color: var(--text-color); */
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.h1title {
  font-weight: bold;
}

.whiteSide {
  margin-bottom: 15px;
}

.welcomeMessage {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.container-mainforms {
  background: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 760px;
  max-width: 100%;
  min-height: 480px;
}

.form-container form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  width: 100%;
}

.landingPageButton {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signup-container{
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.login-container{
  left: 0;
  width: 50%;
  z-index: 2;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out
}

.overlay {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b,#ff416c) no-repeat 0 0 / cover;
  color: white;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out
}

/* Positioning absolute relative to the overlay position relative */
.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.overlay-right {
  right: 0; 
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

/* animation*/

/* movesignin to the right*/
.container-mainforms.right-panel-active .login-container {
  transform: translateX(100%);
}

/* move overlay to the left*/
.container-mainforms.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring sign up over sign in form*/
.container-mainforms.right-panel-active .signup-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to the right*/
.container-mainforms.right-panel-active .overlay {
  transform: translateX(50%);
}

.container-mainforms.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container-mainforms.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.icon {
  border: none;
  color: maroon;
  background-color: white;
  size: 50%;
  width: 100%;
  margin-bottom: 5px;
}

/* COLUMN DRAG AND DROP
----------------------------------------------------> */

.userRecipePageBackground {
  background-image: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F37%2F2015%2F06%2F16012245%2Ffruits-vegetables-legumes-blue-background-8a6d17df.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 97vh;
}

.column-container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 8px;
}

/*SIZING OF THE SCROLLBAR*/
.dayScroll::-webkit-scrollbar {
  height: 10px;
}

/*TRACKING AREA*/
.dayScroll::-webkit-scrollbar-track {
  background: #00000026;
  opacity:.05;
  border-radius: 20px; 
}

/*THIS STYLES THE BUTTON*/
.dayScroll::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 20px;
}

/*THIS STYLES THE THING THAT*/
.dayScroll::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
  opacity: .1;
  border-radius: 20px; 
}  


.columnDays {
  margin: 15px 8px;
  display: flex;
  width: 100%;
  height: 600px;
}

.columnTitle {
  color: #2b75ff;
  background: #f3f3f3;
  padding-top: 8px;
  border-radius: 3px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #de9000;
    text-shadow: -1px 1px 0 #de9000, 1px 1px 0 #de9000;
}

.columnTitleDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  text-align: center;
}

/* THIS NEEDS TO BE CHANGED TO TASTLISK*/
.taskList {
  display: flex;
  flex-direction: column;
}

.taskListWrapper {
  display: flex;
  flex-direction: column;
  min-width: 275px;
  margin-right: 45px;
  width: 282px;
  background: rgba(243, 243, 243,.6);
  border-radius: 3px;
  padding: 0 15px 15px 15px;
  margin: 0 4px;
  display: flex;
  min-height: 20px;

  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);

  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.taskListWrapper::-webkit-scrollbar {
  height: 1px;
  width: 7px;
}

.taskListWrapper::-webkit-scrollbar-track {
  background: #DEDEDE;
  opacity:.05;
  border-radius: 20px; 
}

.taskListWrapper::-webkit-scrollbar-button {
  display: block;
  height: 30px;
  /* width: 1px; */
}

/*THIS STYLES THE THING THAT*/
.taskListWrapper::-webkit-scrollbar-thumb {
  background-color: #ABABAB;
  opacity: .1;
  border-radius: 20px; 
}  


.addRecipe {
  border-radius: 3px;
  box-shadow: none;
  border: none;
  overflow-wrap: break-word;
  max-width: 290px;
  max-height: 100px;
  justify-content: center;
}

input.addRecipe {
  width: 90%;
  height: 40px;
  margin-top: 12px;
}

input {
  padding: 10px;
}

select.category {
  width: 90%;
  height: 40px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-top: 5px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.addIcon {
  border: none;
  background-color: rgba(243, 243, 243,.1);
  padding-left: 3px;
}

/* RECIPECARD DETAILS ----------------------------------------------------> */
.taskInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  min-height: 150px;
  border-radius: 5px;
  max-width: 311px;
  background: white;
  margin-top: 15px;

  box-shadow: 0 14px 28px rgb(0 0 0 / 20%), 0 10px 10px rgb(0 0 0 / 15%);
}

.taskInformation p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: .5px .5px 12px rgba(0,0,0,0.5);
}

.Breakfast {
  background-color: rgb(104, 251, 104);
}

.Lunch {
  background-color: rgb(246, 230, 139);
} 

.Dinner {
  background-color: coral;
} 

.Snack {
  background-color: rgb(108, 108, 172);
}

.recipeNameOnCard{
  font-family: 'montserrat', sans-serif;
  letter-spacing: .5px;
  padding-bottom: 3px;
  padding-top: 3px;
  color: #172b4d;
  font-weight: 400;
}

.cardButtons {
  display: inline-block;
  white-space: 20px;
  padding-top: 5px;
  padding-left: 125px;
  padding-bottom: 3px;
}

.recipeCardIcons {
  margin-right: 10px;
  cursor: pointer;
}

/*Recipe Card Image*/
.recipeCardImage {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
  justify-content: center;
}

.recipeCardImageContainer {
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 3px;
}


/* MODAL---------------------------------------------> */
.modal {
  border-radius: 4px;
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  min-height: 90vh;
  background-color: #f4f5f7;
  overflow:hidden;
}

.modal .scroll {
  padding: 10px;
  max-height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-background-mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.17)
}

.closeModalButton {
  margin-left: 90%;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* MODAL GRID */

.grid-item1 {
  grid-area: header;
  text-align: center;
}

.grid-item2 {
  grid-area: ingredients;
  text-align: center;
  margin-top: 4%;
}

.grid-item3 {
  grid-area: instructions;
  text-align: center;
  margin-top: 4%;
}

.grid-item4 {
  grid-area: comments;
  text-align: center;
  height: 16em;
  margin-top: 5%;
}

.grid-item5 {
  grid-area: image;
  text-align: center;
}

.grid-item5 img {
  width: 50%;
  margin-bottom: 4%;
  margin-top: 4%;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 
      "image header"
      "ingredients instructions"
      "ingredients instructions"
      "comments comments";
}

.grid-item1 h4 {
  font-family: 'Poppins';
  font-size: 1.5em;
}

.grid-container h1 {
  text-align: center;
  margin: 10% 8% 5%; 
  font-size: 3.5em;
  font-family: 'Yantramanav', sans-serif;
  color: #ff4b2b;
}

label.containerLabel {
  display: block;
  text-align: center;
  font-family: helvetica;
  font-size: 1.5em;
  color: #ff4b2b;
}

.grid-item5 .modalImgContainer {
  display:block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.modalImgContainer {
  width: 80%;
  height: 100%;
}

input:hover {
  cursor: pointer;
}

.longTextArea {
  margin-top: 24px;
  resize: none;
  overflow: hidden;
  width: 80%;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: 'Poppins';
  padding: 3%;
  line-height: 1.5em;
}

.commentTextArea {
  width: 90%;
  resize: none;
  overflow: hidden;
  font-family: 'Poppins';
  padding: 1%;
  font-size: 14px;
}

.modalButton {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

/* FOOTER
----------------------------------------------------> */

footer {
  background: linear-gradient(90deg, rgba(255, 75, 43,1) 20%, rgb(249, 251, 253) 100%);
  background-position: bottom;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5rem;
  font-size: 14px;
  color: white;
  letter-spacing: 0.2px;
  margin-top: 0px;
}

.footerIcon {
  color: #ffb52b;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* RECIPE FORM CONTAINER
----------------------------------------------------> */
.recipeFormContainer {
  margin-top: 50px;
}


/* RECIPE FORM CONTAINER
---------------------------------------------------->
*/

.profileContainerBackground {
  background-image: url("https://tallypress.com/wp-content/uploads/2019/01/baking.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
}

.formContainer {
  width: 400px;
  height: 400px;
  position:relative; 
  margin-left: auto;
  margin-right:auto;
  display: block;
  padding-bottom: 8px;
  padding-top: 60px;
}

.userProfileInputBox{
  width: 500px;
  font-size: 1rem;
  height: 2rem;
  margin: 0 auto;
  border: 1px solid #131313;
  border-radius: 0;
  padding-left: 0.5rem;
  margin-bottom: 12px;
}

.profileButton {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 20px;
}

.innerProfileInfo {
  margin-top: 40px;
  font-size: 1.2em;
  line-height: 1.5em;
}